<mat-toolbar color="primary">
  <span>
    <!--Boton para ir al componente landing-page que contendra la informacion-->
    <!--Estos son los enlaces del menu-->
    <a routerLink="" mat-button>
      <mat-icon>local_movies</mat-icon>
      Angular Peliculas
    </a>
  </span>

  <div>
    <a mat-button routerLink="peliculas/buscar">
      <mat-icon>search</mat-icon>Buscar Películas
    </a>
  </div>

  <div>
    <!--Boton para ir hacia el componente genero-->
    <!--Estos son los enlaces del menu-->
    <a mat-button routerLink="generos">Géneros</a>
  </div>

  <div>
    <!--Boton para ir hacia el componente genero-->
    <!--Estos son los enlaces del menu-->
    <a mat-button routerLink="actores">Actores</a>
  </div>

  <div>
    <!--Boton para ir hacia el componente genero-->
    <!--Estos son los enlaces del menu-->
    <a mat-button routerLink="cines">Cines</a>
  </div>

  <div>
    <!--Boton para ir hacia el componente genero-->
    <!--Estos son los enlaces del menu-->
    <a mat-button routerLink="peliculas/crear">Crear Películas</a>
  </div>
</mat-toolbar>
