<!--Formualrio-->

<form (submit)="onSubmit()" [formGroup]="formCines">
  <mat-form-field appearance="outline">
    <mat-label>Nombre*</mat-label>
    <input formControlName="nombreCine" matInput/>
    <mat-error *ngIf="formCines.invalid">El acmpo nombre es requerido</mat-error>
  </mat-form-field>

  <h4>Seleccione el cine en el mapa</h4>
  <div>
    <app-mapa (coordenadaSeleccionada)="agregarCoordenada($event)"
    [coordenadaasIniciales]="coordenadaInicial"></app-mapa>

  </div>

  <div>
    <button mat-flat-button color="primary" [disabled]="formCines.invalid">
      Guardar Cambios
    </button>
    <a mat-stroked-button routerLink="/cines">

    </a>
  </div>

</form>
